# Importing Functions

In [ ]:
from Yang_Zhang_RV_proxy import Yang_Zhang_RV_own_data
from Yang_Zhang_RV_proxy import Yang_Zhang_RV_yahoo

# Own Data Examples

# 1-Minute Example

# Data Preparation

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("oanda-SPX500_USD-2005-1.csv", index_col='time')

In [ ]:
df.head()

                      close    high     low    open  volume
time
2005-01-02 23:00:00  1210.1  1210.4  1209.6  1210.4      12
2005-01-02 23:01:00  1210.1  1210.4  1209.9  1209.9       4
2005-01-02 23:02:00  1210.6  1210.6  1210.4  1210.4       2
2005-01-02 23:03:00  1210.6  1210.9  1210.6  1210.9       4
2005-01-02 23:04:00  1210.6  1210.9  1210.6  1210.9       2

DataFrame should have the same structure as the DataFrame from Yahoo Finance:

Index: 'Date'

Columns: Close, High, Low, Open (the order is not important, yet they should have capital letters)

In [ ]:
# renaming index
df.index.names = ['Date']

# renaming columns
df.rename(columns={"close":"Close", "high":"High", "low":"Low","open":"Open"}, inplace=True)

# removing unnecessary columns
df.drop(columns=["volume"], inplace=True)

In [ ]:
df.head()

                      Close    High     Low    Open
Date
2005-01-02 23:00:00  1210.1  1210.4  1209.6  1210.4
2005-01-02 23:01:00  1210.1  1210.4  1209.9  1209.9
2005-01-02 23:02:00  1210.6  1210.6  1210.4  1210.4
2005-01-02 23:03:00  1210.6  1210.9  1210.6  1210.9
2005-01-02 23:04:00  1210.6  1210.9  1210.6  1210.9

# Yang & Zhang's Realized Volatility Estimation

In [ ]:
Yang_Zhang_RV_df=Yang_Zhang_RV_own_data(data=df)

In [ ]:
Yang_Zhang_RV_df.head()

            Yang & Zhang RV proxy
Date
2005-01-02               0.000178
2005-01-03               0.000359
2005-01-04               0.000382
2005-01-05               0.000402
2005-01-06               0.000383

# 5-Minute Example

In [ ]:
# the data used in this example is already properly prepared
df=pd.read_csv("oanda-SPX500_USD-2005-1_5min.csv", index_col='Date', parse_dates =True)

In [ ]:
Yang_Zhang_RV_df=Yang_Zhang_RV_own_data(data=df)

In [ ]:
Yang_Zhang_RV_df.head()

            Yang & Zhang RV proxy
Date
2005-01-02               0.000095
2005-01-03               0.000292
2005-01-04               0.000304
2005-01-05               0.000311
2005-01-06               0.000324

# 10-Minute Example

In [ ]:
# the data used in this example is already properly prepared
df=pd.read_csv("oanda-SPX500_USD-2005-1_10min.csv", index_col='Date', parse_dates =True)

In [ ]:
Yang_Zhang_RV_df=Yang_Zhang_RV_own_data(data=df)

In [ ]:
Yang_Zhang_RV_df.head()

            Yang & Zhang RV proxy
Date
2005-01-02               0.000097
2005-01-03               0.000278
2005-01-04               0.000301
2005-01-05               0.000319
2005-01-06               0.000324

# Yahoo Examples

# 1-Minute Example

In [9]:
tickers=["^GSPC"]
period='7d'
interval="1m"
Yang_Zhang_RV_df=Yang_Zhang_RV_yahoo(tickers=tickers, start=None, end=None, period=period, interval=interval)

[*********************100%***********************]  1 of 1 completed

In [10]:
Yang_Zhang_RV_df.head()

                           Yang & Zhang RV proxy
Datetime
2023-07-25 00:00:00-04:00               0.000206
2023-07-26 00:00:00-04:00               0.000391
2023-07-27 00:00:00-04:00               0.000381
2023-07-28 00:00:00-04:00               0.000307
2023-07-31 00:00:00-04:00               0.000263

# 5-Minute Example

In [11]:
tickers=["^GSPC"]
period='60d'
interval="5m"
Yang_Zhang_RV_df=Yang_Zhang_RV_yahoo(tickers=tickers, start=None, end=None, period=period, interval=interval)

[*********************100%***********************]  1 of 1 completed

In [12]:
Yang_Zhang_RV_df.head()

                           Yang & Zhang RV proxy
Datetime
2023-05-08 00:00:00-04:00               0.000646
2023-05-09 00:00:00-04:00               0.000620
2023-05-10 00:00:00-04:00               0.001195
2023-05-11 00:00:00-04:00               0.001003
2023-05-12 00:00:00-04:00               0.000848

# 15-Minute Example

In [13]:
tickers=["^GSPC"]
period='60d'
interval="15m"
Yang_Zhang_RV_df=Yang_Zhang_RV_yahoo(tickers=tickers, start=None, end=None, period=period, interval=interval)

[*********************100%***********************]  1 of 1 completed

In [14]:
Yang_Zhang_RV_df.head()

            Yang & Zhang RV proxy
Datetime
2023-05-08               0.001141
2023-05-09               0.000971
2023-05-10               0.002241
2023-05-11               0.001545
2023-05-12               0.001494

# Common Problems

Index is not DatetimeIndex, TimedeltaIndex or PeriodIndex

In [ ]:
Yang_Zhang_RV_own_data(data=df)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

Solution: parse_dates=True

In [ ]:
df=pd.read_csv("oanda-SPX500_USD-2005-1.csv", index_col='time', parse_dates =True)
# renaming index
df.index.names = ['Date']

# renaming columns
df.rename(columns={"close":"Close", "high":"High", "low":"Low","open":"Open"}, inplace=True)

# removing unnecessary columns
df.drop(columns=["volume"], inplace=True)

In [ ]:
Yang_Zhang_RV_df=Yang_Zhang_RV_own_data(data=df)

In [ ]:
Yang_Zhang_RV_df.head()

            Yang & Zhang RV proxy
Date
2005-01-02               0.000178
2005-01-03               0.000359
2005-01-04               0.000382
2005-01-05               0.000402
2005-01-06               0.000383

Requesting farther in the past then Yahoo Finance API allows

In [20]:
tickers=["^GSPC"]
period='60d'
interval="1m"
Yang_Zhang_RV_df=Yang_Zhang_RV_yahoo(tickers=tickers, start=None, end=None, period=period, interval=interval)

[*********************100%***********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['^GSPC']: Exception('%ticker%: 1m data not available for startTime=1685863695 and endTime=1691047695. Only 7 days worth of 1m granularity data are allowed to be fetched per request.')

TypeError: ignored

Solution: request the allowed number of lags

In [21]:
tickers=["^GSPC"]
period='7d'
interval="1m"
Yang_Zhang_RV_df=Yang_Zhang_RV_yahoo(tickers=tickers, start=None, end=None, period=period, interval=interval)

[*********************100%***********************]  1 of 1 completed

In [22]:
Yang_Zhang_RV_df.head()

                           Yang & Zhang RV proxy
Datetime
2023-07-25 00:00:00-04:00               0.000206
2023-07-26 00:00:00-04:00               0.000391
2023-07-27 00:00:00-04:00               0.000381
2023-07-28 00:00:00-04:00               0.000307
2023-07-31 00:00:00-04:00               0.000263